<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!-- SQL Server connection; adjust as needed -->
    <add name="CrmDb"
         connectionString="Data Source=42.117.5.52\\MSSQLSERVER2019,60309;Initial Catalog=rcivietnam1;User ID=rcivietnam1_uss;Password=rc1v1etn@m@17058;MultipleActiveResultSets=True;TrustServerCertificate=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" culture="vi-VN" uiCulture="vi-VN" />
    <!--<globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" culture="vi-VN" uiCulture="vi-VN" />-->
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="120" slidingExpiration="true" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" />
  </system.web>

  <location path="Login.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>
