USE [rcivietnam1]
GO
/****** Object:  Table [db_owner].[LoaiPhong]    Script Date: 12/24/2025 10:00:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [db_owner].[LoaiPhong](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](250) NULL,
	[visible] [bit] NULL,
	[Title] [nvarchar](1000) NULL,
	[Description] [ntext] NULL,
	[SmallImages] [varchar](255) NULL,
	[TitleSEO] [nvarchar](255) NULL,
	[DescriptionSEO] [nvarchar](2000) NULL,
	[KeywordSEO] [nvarchar](1000) NULL,
	[FacebookCover] [nvarchar](255) NULL,
	[FacebookTitle] [nvarchar](2000) NULL,
	[FacebookDescription] [nvarchar](4000) NULL,
	[ViewCount] [int] NULL,
	[Sortorder] [int] NULL,
	[IsPrice] [bit] NULL,
 CONSTRAINT [PK_Loaiphong] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChuongtrinhTour]    Script Date: 12/24/2025 10:00:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuongtrinhTour](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NULL,
	[Name] [nvarchar](2000) NULL,
	[Displayname] [nvarchar](2000) NULL,
	[SmallImages] [varchar](500) NULL,
	[SmallImages1] [varchar](500) NULL,
	[SmallImages2] [varchar](500) NULL,
	[SmallImages3] [varchar](500) NULL,
	[Description] [ntext] NULL,
	[Sortorder] [int] NULL,
	[Visible] [bit] NULL,
	[Creationdate] [datetime] NULL,
	[Createby] [nvarchar](255) NULL,
 CONSTRAINT [PK_Table_1_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer]    Script Date: 12/24/2025 10:00:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Customerid] [varchar](100) NOT NULL,
	[orderID] [varchar](100) NOT NULL,
	[ProductID] [int] NULL,
	[LoaiphongID] [int] NULL,
	[reservationCode] [varchar](255) NULL,
	[MaVourcher] [nvarchar](50) NULL,
	[LastName] [nvarchar](100) NULL,
	[Firstname] [nvarchar](100) NULL,
	[LastNameEN] [varchar](100) NULL,
	[FirstnameEN] [varchar](100) NULL,
	[namemod] [int] NULL,
	[Fullname] [nvarchar](200) NULL,
	[FullNameEN] [nvarchar](200) NULL,
	[FullNamePassport] [nvarchar](200) NULL,
	[CruiseGroupBookingID] [varchar](50) NULL,
	[BookingID] [varchar](50) NULL,
	[CruiseStatusBooking] [varchar](10) NULL,
	[CruiseDealineBooking] [datetime] NULL,
	[roomRequest] [nvarchar](1000) NULL,
	[roomNum] [varchar](255) NULL,
	[CatRoom] [varchar](50) NULL,
	[kindRoom] [varchar](255) NULL,
	[Loaiphong] [nvarchar](100) NULL,
	[Loaigiuong] [nvarchar](100) NULL,
	[BCLoaiphong] [nvarchar](100) NULL,
	[BCLoaigiuong] [nvarchar](100) NULL,
	[IDPrice] [int] NULL,
	[Price] [float] NULL,
	[GiaThucBan] [float] NULL,
	[GiaiTrinhChenhLechGia] [nvarchar](4000) NULL,
	[IsAcceptPriceSell] [bit] NULL,
	[AcceptPriceBy] [nvarchar](2000) NULL,
	[Phuthu] [float] NULL,
	[Commission] [float] NULL,
	[gender] [nvarchar](50) NULL,
	[birthday] [varchar](50) NULL,
	[birthdaymod] [int] NULL,
	[Loaikhach] [nvarchar](100) NULL,
	[passport] [varchar](50) NULL,
	[passportmod] [int] NULL,
	[ngayCapPassport] [varchar](50) NULL,
	[ngayHetHanPassport] [varchar](50) NULL,
	[FilePassport] [varchar](100) NULL,
	[nationallity] [nvarchar](100) NULL,
	[CountryId] [int] NULL,
	[Dinner] [varchar](50) NULL,
	[tel] [varchar](50) NULL,
	[email] [varchar](255) NULL,
	[address] [nvarchar](255) NULL,
	[City] [nvarchar](255) NULL,
	[PostalCode] [nvarchar](255) NULL,
	[Country] [nvarchar](255) NULL,
	[State] [nvarchar](255) NULL,
	[cusGroup] [int] NULL,
	[CodeVE] [varchar](50) NULL,
	[Sove] [varchar](50) NULL,
	[AirStatus] [varchar](10) NULL,
	[AirDealine] [datetime] NULL,
	[CodeVEND] [varchar](50) NULL,
	[SoveND] [varchar](50) NULL,
	[AirStatusND] [varchar](10) NULL,
	[AirDealineND] [datetime] NULL,
	[Note] [nvarchar](500) NULL,
	[Creationdate] [datetime] NULL,
	[createBy] [nvarchar](100) NULL,
	[deleteBy] [nvarchar](100) NULL,
	[visible] [bit] NULL,
	[Waiting] [bit] NULL,
	[Export] [bit] NULL,
	[checkinCruise] [varchar](50) NULL,
	[checkinAir] [varchar](50) NULL,
	[xepphong] [nvarchar](250) NULL,
	[xepphongland] [nvarchar](250) NULL,
	[xepxe] [nvarchar](50) NULL,
	[FF] [nvarchar](250) NULL,
	[VisaStatus] [nvarchar](50) NULL,
	[SR] [nvarchar](250) NULL,
	[VerifiedData] [bit] NULL,
	[AdminNote] [nvarchar](4000) NULL,
	[AddressCountry] [nvarchar](100) NULL,
	[ContactNumber] [nvarchar](100) NULL,
	[KFCountryBirth] [nvarchar](100) NULL,
	[KFIdentityCardNumber] [nvarchar](100) NULL,
	[KFToAfrica] [bit] NULL,
	[KFUsePassportDifferent] [bit] NULL,
	[KFPassportDifferentName] [nvarchar](100) NULL,
	[KFOccupation] [nvarchar](100) NULL,
	[NTSoThuTu] [varchar](50) NULL,
	[NTCarbonNo] [nvarchar](250) NULL,
	[NTViTriTau] [nvarchar](250) NULL,
	[ReasonDelete] [nvarchar](4000) NULL,
	[FileBaoHiem] [varchar](200) NULL,
	[InsurranceCode] [nvarchar](250) NULL,
	[FileCheckInCruise] [varchar](500) NULL,
	[IsCheckInCruise] [bit] NULL,
	[VaccinationDate] [datetime] NULL,
	[VaccinationStatus] [bit] NULL,
	[VisaDateOfReceipt] [datetime] NULL,
	[VisaDateSubmission] [datetime] NULL,
	[VisaReceiptDate] [datetime] NULL,
	[VisaNote] [nvarchar](4000) NULL,
	[VisaAttachedFile] [nvarchar](500) NULL,
	[VisaAttachedFile1] [nvarchar](500) NULL,
	[VisaAttachedFile2] [nvarchar](500) NULL,
	[VisaLinkFile] [nvarchar](500) NULL,
	[VisaConsularAppointmentDate] [datetime] NULL,
	[VisaResultsDay] [datetime] NULL,
	[VisaADA] [nvarchar](500) NULL,
	[VisaNumber] [nvarchar](500) NULL,
	[DailyDiet] [nvarchar](500) NULL,
	[VisaAttachment] [nvarchar](500) NULL,
	[SimCode] [nvarchar](500) NULL,
	[SimStatus] [nvarchar](500) NULL,
	[SimPrice] [float] NULL,
	[SimPackage] [nvarchar](500) NULL,
	[NumberOfVisaApplication] [nvarchar](500) NULL,
	[DanhHieu] [nvarchar](500) NULL,
	[AirlineDeparture] [nvarchar](500) NULL,
	[AirlineWave] [nvarchar](500) NULL,
	[AirlineNotes] [nvarchar](500) NULL,
	[RoomTypleLand] [nvarchar](500) NULL,
	[RoomOccupancy] [nvarchar](500) NULL,
	[IsMainContactOntour] [bit] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[AirNote] [nvarchar](1000) NULL,
 CONSTRAINT [PK_customer_1] PRIMARY KEY CLUSTERED 
(
	[Customerid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[destination]    Script Date: 12/24/2025 10:00:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[destination](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[continentID] [int] NOT NULL,
	[name] [nvarchar](255) NULL,
	[Thumb] [varchar](100) NULL,
	[Images] [varchar](100) NULL,
	[visible] [bit] NULL,
	[Description] [ntext] NULL,
	[DiemdenHapdan] [ntext] NULL,
	[Luuy] [ntext] NULL,
	[TitleSEO] [nvarchar](500) NULL,
	[DescriptionSEO] [nvarchar](2000) NULL,
	[KeywordSEO] [nvarchar](500) NULL,
	[Descriptionduthuyen] [ntext] NULL,
	[DiemdenHapdanDuthuyen] [ntext] NULL,
	[LuuyDuthuyen] [ntext] NULL,
	[TitleSEOduthuyen] [nvarchar](500) NULL,
	[DescriptionSEOduthuyen] [nvarchar](2000) NULL,
	[KeywordSEOduthuyen] [nvarchar](500) NULL,
	[DescriptionDulichtaubien] [ntext] NULL,
	[DiemdenHapdanDulichtaubien] [ntext] NULL,
	[LuuyDulichtaubien] [ntext] NULL,
	[TitleSEODulichtaubien] [nvarchar](500) NULL,
	[DescriptionSEODulichtaubien] [nvarchar](2000) NULL,
	[KeywordSEODulichtaubien] [nvarchar](500) NULL,
	[CreationDate] [datetime] NULL,
	[Createby] [nvarchar](50) NULL,
	[Updateby] [nvarchar](50) NULL,
	[NumOr] [int] NULL,
 CONSTRAINT [PK_destination] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order]    Script Date: 12/24/2025 10:00:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [varchar](100) NOT NULL,
	[userID] [int] NOT NULL,
	[GroupOrderId] [int] NULL,
	[GroupOrderCode] [nvarchar](250) NULL,
	[AssignID] [int] NULL,
	[Code] [varchar](50) NULL,
	[amount] [float] NULL,
	[amountThucBan] [float] NULL,
	[Commission] [float] NULL,
	[Pay] [float] NULL,
	[PayThucban] [float] NULL,
	[DepositDeadline] [datetime] NULL,
	[PaymentDeadline] [datetime] NULL,
	[Creationdate] [datetime] NULL,
	[note] [ntext] NULL,
	[createBy] [nvarchar](50) NULL,
	[deleteBy] [nvarchar](50) NULL,
	[Visible] [bit] NULL,
	[Waiting] [bit] NULL,
	[Solangiahan] [int] NULL,
	[xuathd] [bit] NULL,
	[GroupName] [nvarchar](500) NULL,
	[BookGroup] [bit] NULL,
	[NumberCustomerGroup] [int] NULL,
	[Online] [bit] NULL,
	[FullName] [nvarchar](200) NULL,
	[ctLastname] [nvarchar](100) NULL,
	[ctFirstname] [nvarchar](100) NULL,
	[ctgender] [char](10) NULL,
	[Address] [nvarchar](200) NULL,
	[ctTel] [varchar](50) NULL,
	[ctEmail] [varchar](200) NULL,
	[ctcongty] [nvarchar](250) NULL,
	[ctchucvu] [nvarchar](100) NULL,
	[ctvaitrobooking] [nvarchar](250) NULL,
	[ctnguon] [nvarchar](250) NULL,
	[Hinhthucthanhtoan] [nvarchar](50) NULL,
	[IpCustomer] [varchar](50) NULL,
	[CancelReason] [nvarchar](500) NULL,
	[agent] [nvarchar](250) NULL,
	[ctnguonId] [int] NULL,
	[MarketingCustomerId] [int] NULL,
	[ctLastname1] [nvarchar](100) NULL,
	[ctFirstname1] [nvarchar](100) NULL,
	[ctgender1] [char](10) NULL,
	[Address1] [nvarchar](200) NULL,
	[ctTel1] [varchar](50) NULL,
	[ctEmail1] [varchar](200) NULL,
	[ctcongty1] [nvarchar](250) NULL,
	[ctchucvu1] [nvarchar](100) NULL,
	[ctvaitrobooking1] [nvarchar](250) NULL,
	[ctnguon1] [nvarchar](250) NULL,
	[agent1] [nvarchar](250) NULL,
	[ctLastname2] [nvarchar](100) NULL,
	[ctFirstname2] [nvarchar](100) NULL,
	[ctgender2] [char](10) NULL,
	[Address2] [nvarchar](200) NULL,
	[ctTel2] [varchar](50) NULL,
	[ctEmail2] [varchar](200) NULL,
	[ctcongty2] [nvarchar](250) NULL,
	[ctchucvu2] [nvarchar](100) NULL,
	[ctvaitrobooking2] [nvarchar](250) NULL,
	[ctnguon2] [nvarchar](250) NULL,
	[agent2] [nvarchar](250) NULL,
	[IsFinishPayment] [bit] NULL,
	[FinishPaymentDate] [datetime] NULL,
	[FinishPaymentById] [int] NULL,
	[FinishPaymentByUser] [nvarchar](250) NULL,
 CONSTRAINT [PK_order] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payment]    Script Date: 12/24/2025 10:00:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[orderID] [varchar](100) NOT NULL,
	[name] [nvarchar](255) NULL,
	[phieuThu] [varchar](255) NULL,
	[NgayLapPhieuThu] [datetime] NULL,
	[amount] [float] NULL,
	[Discount] [float] NULL,
	[note] [ntext] NULL,
	[Creationdate] [datetime] NULL,
	[visible] [bit] NULL,
	[createBy] [nvarchar](50) NULL,
	[deleteBy] [nvarchar](50) NULL,
	[AcceptDiscount] [bit] NULL,
	[PeopleAccept] [nvarchar](50) NULL,
	[FilePhieuThu] [nvarchar](550) NULL,
	[FilePayment] [nvarchar](550) NULL,
	[IsVerifyAccounting] [bit] NULL,
	[VerifyByUser] [nvarchar](550) NULL,
	[VerifyAt] [datetime] NULL,
 CONSTRAINT [PK_payment] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[price]    Script Date: 12/24/2025 10:00:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[price](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[productID] [int] NOT NULL,
	[loaiphongID] [int] NOT NULL,
	[ngaydi] [datetime] NOT NULL,
	[giaNguoiLon] [bigint] NULL,
	[giaTreEm] [bigint] NULL,
	[giaTreNho] [bigint] NULL,
	[GiaKM] [bigint] NULL,
	[GiaKMTE] [bigint] NULL,
	[GiaKMTN] [bigint] NULL,
	[commissionNl] [bigint] NULL,
	[commissionTreEm] [bigint] NULL,
	[commissionTrenho] [bigint] NULL,
	[Visible] [bit] NULL,
	[CreationDate] [datetime] NULL,
	[Createby] [nvarchar](50) NULL,
	[Percentage] [float] NULL,
	[PriceAccept] [float] NULL,
	[hetphong] [bit] NULL,
	[phongdon] [float] NULL,
	[NL12] [float] NULL,
	[NL34] [float] NULL,
	[TE2] [float] NULL,
	[TE34] [float] NULL,
	[TN2] [float] NULL,
	[TN34] [float] NULL,
 CONSTRAINT [PK_price] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 12/24/2025 10:00:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[DiscountEventId] [int] NULL,
	[DiscountSummary] [nvarchar](1000) NULL,
	[DiscountNumber] [nvarchar](1000) NULL,
	[ParentID] [int] NULL,
	[GroupProductID] [int] NULL,
	[SukienID] [int] NULL,
	[IDGeneral] [varchar](50) NULL,
	[MasterCodeID] [int] NULL,
	[TuyentourID] [int] NULL,
	[Hitcount] [int] NULL,
	[Noikhoihanh] [int] NULL,
	[Ship] [int] NULL,
	[ShipName] [nvarchar](200) NULL,
	[ShipUrlRewrite] [varchar](200) NULL,
	[DeparturePort] [nvarchar](200) NULL,
	[code] [varchar](50) NULL,
	[CodeGroup] [varchar](50) NULL,
	[name] [nvarchar](255) NULL,
	[Describe] [nvarchar](255) NULL,
	[SubDescribe] [nvarchar](255) NULL,
	[Map] [varchar](550) NULL,
	[SmallImages] [varchar](550) NULL,
	[ImageDefaultSocial] [varchar](550) NULL,
	[BannerFlash] [varchar](550) NULL,
	[Bannerdaidien] [varchar](550) NULL,
	[BannerDisplay] [int] NULL,
	[fileDoc] [nvarchar](255) NULL,
	[filePdf] [nvarchar](255) NULL,
	[ngayKhoiHanh] [datetime] NULL,
	[KhoihanhAmlich] [nvarchar](100) NULL,
	[Songaydi] [int] NULL,
	[deadlineVisa] [varchar](50) NULL,
	[deadlineAir] [varchar](50) NULL,
	[soChoNhan] [int] NULL,
	[Nhanonline] [int] NULL,
	[Note] [nvarchar](max) NULL,
	[Hienthitrangchu] [bit] NULL,
	[Title] [nvarchar](500) NULL,
	[creationdate] [datetime] NULL,
	[createBy] [nvarchar](50) NULL,
	[deleteBy] [nvarchar](50) NULL,
	[VisibleBy] [nvarchar](50) NULL,
	[visible] [bit] NULL,
	[StatusID] [int] NULL,
	[Agent] [varchar](200) NULL,
	[NoAgent] [bit] NULL,
	[Nodisplay] [bit] NULL,
	[CloseTime] [int] NULL,
	[Giangsinhvatettay] [bit] NULL,
	[Tourtet] [bit] NULL,
	[Khuyenmai] [bit] NULL,
	[IsQuanTam] [bit] NULL,
	[IconKM] [varchar](100) NULL,
	[MarkKhuyenmai] [varchar](200) NULL,
	[PaddingLeftMark] [int] NULL,
	[Sortorder] [int] NULL,
	[TitleSEO] [nvarchar](255) NULL,
	[DescriptionSEO] [nvarchar](1000) NULL,
	[KeywordSEO] [nvarchar](1000) NULL,
	[ThanhtoanOnline] [bit] NULL,
	[PromotionStart] [datetime] NULL,
	[PromotionEnd] [datetime] NULL,
	[FacebookCover] [nvarchar](255) NULL,
	[FacebookTitle] [nvarchar](1000) NULL,
	[FacebookDescription] [nvarchar](4000) NULL,
	[IsCountDown] [bit] NULL,
	[CountDownText] [nvarchar](1000) NULL,
	[tag] [ntext] NULL,
	[TitleSchedule] [nvarchar](2000) NULL,
	[VideoTitle] [nvarchar](550) NULL,
	[VideoUrl] [nvarchar](550) NULL,
	[VideoBanner] [nvarchar](550) NULL,
	[VideoMoreUrl] [nvarchar](550) NULL,
	[VideoMoreDisplayUrl] [nvarchar](550) NULL,
	[ViewCount] [int] NULL,
	[Deposit] [float] NULL,
	[Tags] [nvarchar](1000) NULL,
	[TourCat] [nvarchar](290) NULL,
	[IsPullPromotion] [bit] NULL,
	[DiemBatDau] [nvarchar](550) NULL,
	[DiemKetThuc] [nvarchar](550) NULL,
	[HotLineTongDai] [nvarchar](150) NULL,
	[HotLineDiDong] [nvarchar](150) NULL,
	[NoteTT] [nvarchar](1000) NULL,
	[MucTieuBan] [int] NULL,
	[TrangThaiMKT] [nvarchar](550) NULL,
	[MKTStatus] [nvarchar](550) NULL,
	[MKTNote] [nvarchar](1000) NULL,
	[MKTCamping] [nvarchar](550) NULL,
	[ClickCallCount] [int] NULL,
	[ProductTypeGroupId] [int] NULL,
	[Description] [nvarchar](max) NULL,
	[Baogom] [nvarchar](max) NULL,
	[Khongbaogom] [nvarchar](max) NULL,
	[Other] [nvarchar](max) NULL,
	[Ghichu] [nvarchar](max) NULL,
	[ContentSchedule] [nvarchar](max) NULL,
	[CompanyAirlineId] [int] NULL,
	[IsVisa] [bit] NULL,
	[VisaDeadline] [datetime] NULL,
	[IsEnglish] [bit] NULL,
 CONSTRAINT [PK_tour] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product-des]    Script Date: 12/24/2025 10:00:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product-des](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[productID] [int] NULL,
	[destinationID] [int] NULL,
	[createBy] [nvarchar](50) NULL,
	[deleteBy] [nvarchar](50) NULL,
	[VisibleBy] [nvarchar](50) NULL,
	[visible] [bit] NULL,
	[NumOr] [int] NULL,
	[Notes] [nvarchar](2000) NULL,
	[updateBy] [nvarchar](50) NULL,
	[updatedate] [datetime] NULL,
 CONSTRAINT [PK_tour-des] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 12/24/2025 10:00:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[parentID] [int] NULL,
	[organizationID] [int] NULL,
	[username] [varchar](255) NULL,
	[password] [varchar](255) NULL,
	[name] [nvarchar](255) NULL,
	[lastname12] [nvarchar](255) NULL,
	[tel] [varchar](100) NULL,
	[tel_ext] [varchar](100) NULL,
	[email] [varchar](255) NULL,
	[Role] [varchar](50) NULL,
	[Creationdate] [datetime] NULL,
	[UserIDCreate] [int] NULL,
	[Createby] [nvarchar](50) NULL,
	[Updateby] [nvarchar](50) NULL,
	[Visible] [bit] NULL,
	[Truycapbenngoai] [bit] NULL,
	[PasswordChangeDate] [datetime] NULL,
	[IsChangePW] [bit] NULL,
	[CountChangePW] [int] NULL,
	[ForgotToken] [nvarchar](550) NULL,
	[ForgotDate] [datetime] NULL,
	[ForgotUpdateDate] [datetime] NULL,
	[ExpForgotDate] [datetime] NULL,
	[IsLock] [bit] NULL,
	[IsGoogleAu] [bit] NULL,
	[IsLoginRCI] [bit] NULL,
	[IsLoginWWC] [bit] NULL,
	[PercentDiscount] [float] NULL,
	[IsShowReportCombo] [bit] NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [db_owner].[LoaiPhong] ADD  CONSTRAINT [DF_LoaiPhong_ViewCount]  DEFAULT ((0)) FOR [ViewCount]
GO
ALTER TABLE [db_owner].[LoaiPhong] ADD  CONSTRAINT [DF_LoaiPhong_Sortorder]  DEFAULT ((0)) FOR [Sortorder]
GO
ALTER TABLE [dbo].[ChuongtrinhTour] ADD  CONSTRAINT [DF_ChuongtrinhTour_Sortorder]  DEFAULT ((0)) FOR [Sortorder]
GO
ALTER TABLE [dbo].[ChuongtrinhTour] ADD  CONSTRAINT [DF_ChuongtrinhTour_Visible]  DEFAULT ((1)) FOR [Visible]
GO
ALTER TABLE [dbo].[ChuongtrinhTour] ADD  CONSTRAINT [DF_ChuongtrinhTour_Creationdate]  DEFAULT (getdate()) FOR [Creationdate]
GO
ALTER TABLE [dbo].[customer] ADD  CONSTRAINT [DF_customer_LoaiphongID]  DEFAULT ((1)) FOR [LoaiphongID]
GO
ALTER TABLE [dbo].[customer] ADD  CONSTRAINT [DF_customer_MaVourcher]  DEFAULT ('') FOR [MaVourcher]
GO
ALTER TABLE [dbo].[customer] ADD  CONSTRAINT [DF_customer_namemod]  DEFAULT ((0)) FOR [namemod]
GO
ALTER TABLE [dbo].[customer] ADD  CONSTRAINT [DF_customer_IDPrice]  DEFAULT ((0)) FOR [IDPrice]
GO
ALTER TABLE [dbo].[customer] ADD  CONSTRAINT [DF_customer_Price]  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[customer] ADD  CONSTRAINT [DF_customer_IsAcceptPriceSell]  DEFAULT ((0)) FOR [IsAcceptPriceSell]
GO
ALTER TABLE [dbo].[customer] ADD  CONSTRAINT [DF_customer_Phuthu]  DEFAULT ((0)) FOR [Phuthu]
GO
ALTER TABLE [dbo].[customer] ADD  CONSTRAINT [DF_customer_Commission]  DEFAULT ((0)) FOR [Commission]
GO
ALTER TABLE [dbo].[customer] ADD  CONSTRAINT [DF_customer_birthdaymod]  DEFAULT ((0)) FOR [birthdaymod]
GO
ALTER TABLE [dbo].[customer] ADD  CONSTRAINT [DF_customer_passportmod]  DEFAULT ((0)) FOR [passportmod]
GO
ALTER TABLE [dbo].[customer] ADD  CONSTRAINT [DF_customer_nationallity]  DEFAULT (N'VNM') FOR [nationallity]
GO
ALTER TABLE [dbo].[customer] ADD  CONSTRAINT [DF_customer_CountryId]  DEFAULT ((125)) FOR [CountryId]
GO
ALTER TABLE [dbo].[customer] ADD  CONSTRAINT [DF_customer_cusGroup]  DEFAULT ((0)) FOR [cusGroup]
GO
ALTER TABLE [dbo].[customer] ADD  CONSTRAINT [DF_customer_Creationdate]  DEFAULT (getdate()) FOR [Creationdate]
GO
ALTER TABLE [dbo].[customer] ADD  CONSTRAINT [DF_customer_visible]  DEFAULT ((1)) FOR [visible]
GO
ALTER TABLE [dbo].[customer] ADD  CONSTRAINT [DF_customer_Waiting]  DEFAULT ((0)) FOR [Waiting]
GO
ALTER TABLE [dbo].[customer] ADD  CONSTRAINT [DF_customer_Export]  DEFAULT ((0)) FOR [Export]
GO
ALTER TABLE [dbo].[customer] ADD  CONSTRAINT [DF_customer_IsCheckInCruise]  DEFAULT ((0)) FOR [IsCheckInCruise]
GO
ALTER TABLE [dbo].[customer] ADD  CONSTRAINT [DF_customer_VaccinationStatus]  DEFAULT ((0)) FOR [VaccinationStatus]
GO
ALTER TABLE [dbo].[customer] ADD  CONSTRAINT [DF_customer_IsCheckInCruise1]  DEFAULT ((0)) FOR [IsMainContactOntour]
GO
ALTER TABLE [dbo].[customer] ADD  CONSTRAINT [DF_customer_Creationdate1]  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[destination] ADD  CONSTRAINT [DF_destination_visible]  DEFAULT ((1)) FOR [visible]
GO
ALTER TABLE [dbo].[destination] ADD  CONSTRAINT [DF_destination_CreationDate]  DEFAULT (getdate()) FOR [CreationDate]
GO
ALTER TABLE [dbo].[order] ADD  CONSTRAINT [DF_order_AssignID]  DEFAULT ((0)) FOR [AssignID]
GO
ALTER TABLE [dbo].[order] ADD  CONSTRAINT [DF_order_amount]  DEFAULT ((0)) FOR [amount]
GO
ALTER TABLE [dbo].[order] ADD  CONSTRAINT [DF_order_Commission]  DEFAULT ((0)) FOR [Commission]
GO
ALTER TABLE [dbo].[order] ADD  CONSTRAINT [DF_order_Pay]  DEFAULT ((0)) FOR [Pay]
GO
ALTER TABLE [dbo].[order] ADD  CONSTRAINT [DF_order_Pay1]  DEFAULT ((0)) FOR [PayThucban]
GO
ALTER TABLE [dbo].[order] ADD  CONSTRAINT [DF_order_Creationdate]  DEFAULT (getdate()) FOR [Creationdate]
GO
ALTER TABLE [dbo].[order] ADD  CONSTRAINT [DF_order_Visible]  DEFAULT ((1)) FOR [Visible]
GO
ALTER TABLE [dbo].[order] ADD  CONSTRAINT [DF_order_Waiting]  DEFAULT ((0)) FOR [Waiting]
GO
ALTER TABLE [dbo].[order] ADD  CONSTRAINT [DF_order_Solangiahan]  DEFAULT ((0)) FOR [Solangiahan]
GO
ALTER TABLE [dbo].[order] ADD  CONSTRAINT [DF_order_xuathd]  DEFAULT ((0)) FOR [xuathd]
GO
ALTER TABLE [dbo].[order] ADD  CONSTRAINT [DF_order_BookGroup]  DEFAULT ((0)) FOR [BookGroup]
GO
ALTER TABLE [dbo].[order] ADD  CONSTRAINT [DF_order_NumberCustomerGroup]  DEFAULT ((0)) FOR [NumberCustomerGroup]
GO
ALTER TABLE [dbo].[order] ADD  CONSTRAINT [DF_order_Online]  DEFAULT ((0)) FOR [Online]
GO
ALTER TABLE [dbo].[order] ADD  CONSTRAINT [DF_order_IsFinishPayment]  DEFAULT ((0)) FOR [IsFinishPayment]
GO
ALTER TABLE [dbo].[order] ADD  CONSTRAINT [DF_order_FinishPaymentDate]  DEFAULT (getdate()) FOR [FinishPaymentDate]
GO
ALTER TABLE [dbo].[payment] ADD  CONSTRAINT [DF_payment_NgayLapPhieuThu]  DEFAULT (getdate()) FOR [NgayLapPhieuThu]
GO
ALTER TABLE [dbo].[payment] ADD  CONSTRAINT [DF_payment_amount]  DEFAULT ((0)) FOR [amount]
GO
ALTER TABLE [dbo].[payment] ADD  CONSTRAINT [DF_payment_Discount]  DEFAULT ((0)) FOR [Discount]
GO
ALTER TABLE [dbo].[payment] ADD  CONSTRAINT [DF_payment_Creationdate]  DEFAULT (getdate()) FOR [Creationdate]
GO
ALTER TABLE [dbo].[payment] ADD  CONSTRAINT [DF_payment_visible]  DEFAULT ((1)) FOR [visible]
GO
ALTER TABLE [dbo].[payment] ADD  CONSTRAINT [DF_payment_AcceptDiscount]  DEFAULT ((0)) FOR [AcceptDiscount]
GO
ALTER TABLE [dbo].[payment] ADD  CONSTRAINT [DF_payment_IsVerifyAccounting]  DEFAULT ((0)) FOR [IsVerifyAccounting]
GO
ALTER TABLE [dbo].[price] ADD  CONSTRAINT [DF_price_loaiphongID]  DEFAULT ((1)) FOR [loaiphongID]
GO
ALTER TABLE [dbo].[price] ADD  CONSTRAINT [DF_price_giaNguoiLon]  DEFAULT ((0)) FOR [giaNguoiLon]
GO
ALTER TABLE [dbo].[price] ADD  CONSTRAINT [DF_price_giaTreEm]  DEFAULT ((0)) FOR [giaTreEm]
GO
ALTER TABLE [dbo].[price] ADD  CONSTRAINT [DF_price_giaTreNho]  DEFAULT ((0)) FOR [giaTreNho]
GO
ALTER TABLE [dbo].[price] ADD  CONSTRAINT [DF_price_GiaKM]  DEFAULT ((0)) FOR [GiaKM]
GO
ALTER TABLE [dbo].[price] ADD  CONSTRAINT [DF_price_GiaKMTE]  DEFAULT ((0)) FOR [GiaKMTE]
GO
ALTER TABLE [dbo].[price] ADD  CONSTRAINT [DF_price_GiaKMTN]  DEFAULT ((0)) FOR [GiaKMTN]
GO
ALTER TABLE [dbo].[price] ADD  CONSTRAINT [DF_price_commissionNl]  DEFAULT ((0)) FOR [commissionNl]
GO
ALTER TABLE [dbo].[price] ADD  CONSTRAINT [DF_price_commissionTreEm]  DEFAULT ((0)) FOR [commissionTreEm]
GO
ALTER TABLE [dbo].[price] ADD  CONSTRAINT [DF_price_commissionTrenho]  DEFAULT ((0)) FOR [commissionTrenho]
GO
ALTER TABLE [dbo].[price] ADD  CONSTRAINT [DF_price_Visible]  DEFAULT ((1)) FOR [Visible]
GO
ALTER TABLE [dbo].[price] ADD  CONSTRAINT [DF_price_CreationDate]  DEFAULT (getdate()) FOR [CreationDate]
GO
ALTER TABLE [dbo].[price] ADD  CONSTRAINT [DF_price_hetphong]  DEFAULT ((0)) FOR [hetphong]
GO
ALTER TABLE [dbo].[price] ADD  CONSTRAINT [DF_price_phongdon]  DEFAULT ((0)) FOR [phongdon]
GO
ALTER TABLE [dbo].[price] ADD  CONSTRAINT [DF_price_phongdon6]  DEFAULT ((0)) FOR [NL12]
GO
ALTER TABLE [dbo].[price] ADD  CONSTRAINT [DF_price_phongdon5]  DEFAULT ((0)) FOR [NL34]
GO
ALTER TABLE [dbo].[price] ADD  CONSTRAINT [DF_price_phongdon4]  DEFAULT ((0)) FOR [TE2]
GO
ALTER TABLE [dbo].[price] ADD  CONSTRAINT [DF_price_phongdon3]  DEFAULT ((0)) FOR [TE34]
GO
ALTER TABLE [dbo].[price] ADD  CONSTRAINT [DF_price_phongdon2]  DEFAULT ((0)) FOR [TN2]
GO
ALTER TABLE [dbo].[price] ADD  CONSTRAINT [DF_price_phongdon1]  DEFAULT ((0)) FOR [TN34]
GO
ALTER TABLE [dbo].[product] ADD  CONSTRAINT [DF_product_ParentID1]  DEFAULT ((0)) FOR [DiscountEventId]
GO
ALTER TABLE [dbo].[product] ADD  CONSTRAINT [DF_product_ParentID]  DEFAULT ((0)) FOR [ParentID]
GO
ALTER TABLE [dbo].[product] ADD  CONSTRAINT [DF_product_GroupProductID]  DEFAULT ((0)) FOR [GroupProductID]
GO
ALTER TABLE [dbo].[product] ADD  CONSTRAINT [DF_product_SukienID]  DEFAULT ((0)) FOR [SukienID]
GO
ALTER TABLE [dbo].[product] ADD  CONSTRAINT [DF_product_MasterCodeID]  DEFAULT ((0)) FOR [MasterCodeID]
GO
ALTER TABLE [dbo].[product] ADD  CONSTRAINT [DF_product_TuyentourID]  DEFAULT ((0)) FOR [TuyentourID]
GO
ALTER TABLE [dbo].[product] ADD  CONSTRAINT [DF_product_Hitcount]  DEFAULT ((0)) FOR [Hitcount]
GO
ALTER TABLE [dbo].[product] ADD  CONSTRAINT [DF_product_Noikhoihanh]  DEFAULT ((1)) FOR [Noikhoihanh]
GO
ALTER TABLE [dbo].[product] ADD  CONSTRAINT [DF_product_Ship]  DEFAULT ((0)) FOR [Ship]
GO
ALTER TABLE [dbo].[product] ADD  CONSTRAINT [DF_product_PictureDisplay]  DEFAULT ((1)) FOR [BannerDisplay]
GO
ALTER TABLE [dbo].[product] ADD  CONSTRAINT [DF_product_Songaydi]  DEFAULT ((0)) FOR [Songaydi]
GO
ALTER TABLE [dbo].[product] ADD  CONSTRAINT [DF_product_Nhanonline]  DEFAULT ((0)) FOR [Nhanonline]
GO
ALTER TABLE [dbo].[product] ADD  CONSTRAINT [DF_product_Hienthitrangchu]  DEFAULT ((0)) FOR [Hienthitrangchu]
GO
ALTER TABLE [dbo].[product] ADD  CONSTRAINT [DF_product_creationdate]  DEFAULT (getdate()) FOR [creationdate]
GO
ALTER TABLE [dbo].[product] ADD  CONSTRAINT [DF_product_visible]  DEFAULT ((1)) FOR [visible]
GO
ALTER TABLE [dbo].[product] ADD  CONSTRAINT [DF_product_StatusID]  DEFAULT ((1)) FOR [StatusID]
GO
ALTER TABLE [dbo].[product] ADD  CONSTRAINT [DF_product_NoAgent]  DEFAULT ((0)) FOR [NoAgent]
GO
ALTER TABLE [dbo].[product] ADD  CONSTRAINT [DF_product_Nodisplay]  DEFAULT ((0)) FOR [Nodisplay]
GO
ALTER TABLE [dbo].[product] ADD  CONSTRAINT [DF_product_CloseTime]  DEFAULT ((0)) FOR [CloseTime]
GO
ALTER TABLE [dbo].[product] ADD  CONSTRAINT [DF_product_Giangsinhvatettay]  DEFAULT ((0)) FOR [Giangsinhvatettay]
GO
ALTER TABLE [dbo].[product] ADD  CONSTRAINT [DF_product_Tourtet]  DEFAULT ((0)) FOR [Tourtet]
GO
ALTER TABLE [dbo].[product] ADD  CONSTRAINT [DF_product_Khuyenmai]  DEFAULT ((0)) FOR [Khuyenmai]
GO
ALTER TABLE [dbo].[product] ADD  CONSTRAINT [DF_product_PaddingLeftMark]  DEFAULT ((0)) FOR [PaddingLeftMark]
GO
ALTER TABLE [dbo].[product] ADD  CONSTRAINT [DF_product_Sortorder]  DEFAULT ((0)) FOR [Sortorder]
GO
ALTER TABLE [dbo].[product] ADD  CONSTRAINT [DF_product_ViewCount]  DEFAULT ((0)) FOR [ViewCount]
GO
ALTER TABLE [dbo].[product] ADD  CONSTRAINT [DF_product_TourCat]  DEFAULT (N'Tour du thuyền') FOR [TourCat]
GO
ALTER TABLE [dbo].[product] ADD  CONSTRAINT [DF_product_IsPullPromotion]  DEFAULT ((0)) FOR [IsPullPromotion]
GO
ALTER TABLE [dbo].[product] ADD  CONSTRAINT [DF_product_MucTieuBan]  DEFAULT ((0)) FOR [MucTieuBan]
GO
ALTER TABLE [dbo].[product] ADD  CONSTRAINT [DF_product_TrangThaiMKT]  DEFAULT (N'CXĐ') FOR [TrangThaiMKT]
GO
ALTER TABLE [dbo].[product] ADD  CONSTRAINT [DF_product_MKTStatus]  DEFAULT (N'CXĐ') FOR [MKTStatus]
GO
ALTER TABLE [dbo].[product] ADD  CONSTRAINT [DF_product_ClickCallCount]  DEFAULT ((0)) FOR [ClickCallCount]
GO
ALTER TABLE [dbo].[product] ADD  CONSTRAINT [DF_product_IsVisa]  DEFAULT ((0)) FOR [IsVisa]
GO
ALTER TABLE [dbo].[product] ADD  CONSTRAINT [DF_product_IsEnglish]  DEFAULT ((0)) FOR [IsEnglish]
GO
ALTER TABLE [dbo].[product-des] ADD  CONSTRAINT [DF_product-des_visible]  DEFAULT ((1)) FOR [visible]
GO
ALTER TABLE [dbo].[product-des] ADD  CONSTRAINT [DF_product-des_NumOr]  DEFAULT ((0)) FOR [NumOr]
GO
ALTER TABLE [dbo].[product-des] ADD  CONSTRAINT [DF_product-des_updatedate]  DEFAULT (getdate()) FOR [updatedate]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_parentID]  DEFAULT ((0)) FOR [parentID]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_Creationdate]  DEFAULT (getdate()) FOR [Creationdate]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_Visible]  DEFAULT ((1)) FOR [Visible]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_Truycapbenngoai]  DEFAULT ((0)) FOR [Truycapbenngoai]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_PasswordChangeDate]  DEFAULT (getdate()) FOR [PasswordChangeDate]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_IsChangePW]  DEFAULT ((0)) FOR [IsChangePW]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_CountChangePW]  DEFAULT ((0)) FOR [CountChangePW]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_IsLock]  DEFAULT ((0)) FOR [IsLock]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_IsGoogleAu]  DEFAULT ((0)) FOR [IsGoogleAu]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_IsGoogleAu1]  DEFAULT ((0)) FOR [IsLoginRCI]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_IsLoginRCI1]  DEFAULT ((0)) FOR [IsLoginWWC]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_PercentDiscount]  DEFAULT ((10)) FOR [PercentDiscount]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_IsLock1]  DEFAULT ((0)) FOR [IsShowReportCombo]
GO
ALTER TABLE [dbo].[ChuongtrinhTour]  WITH CHECK ADD  CONSTRAINT [FK_ChuongtrinhTour_product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[product] ([id])
GO
ALTER TABLE [dbo].[ChuongtrinhTour] CHECK CONSTRAINT [FK_ChuongtrinhTour_product]
GO
ALTER TABLE [dbo].[customer]  WITH CHECK ADD  CONSTRAINT [FK_customer_order] FOREIGN KEY([orderID])
REFERENCES [dbo].[order] ([OrderID])
GO
ALTER TABLE [dbo].[customer] CHECK CONSTRAINT [FK_customer_order]
GO
ALTER TABLE [dbo].[customer]  WITH CHECK ADD  CONSTRAINT [FK_customer_product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[product] ([id])
GO
ALTER TABLE [dbo].[customer] CHECK CONSTRAINT [FK_customer_product]
GO
ALTER TABLE [dbo].[destination]  WITH CHECK ADD  CONSTRAINT [FK_destination_continent] FOREIGN KEY([continentID])
REFERENCES [dbo].[continent] ([id])
GO
ALTER TABLE [dbo].[destination] CHECK CONSTRAINT [FK_destination_continent]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [FK_order_GroupOrder] FOREIGN KEY([GroupOrderId])
REFERENCES [db_owner].[GroupOrder] ([Id])
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [FK_order_GroupOrder]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [FK_order_user] FOREIGN KEY([userID])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [FK_order_user]
GO
ALTER TABLE [dbo].[payment]  WITH CHECK ADD  CONSTRAINT [FK_payment_order] FOREIGN KEY([orderID])
REFERENCES [dbo].[order] ([OrderID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[payment] CHECK CONSTRAINT [FK_payment_order]
GO
ALTER TABLE [dbo].[price]  WITH CHECK ADD  CONSTRAINT [FK_price_LoaiPhong] FOREIGN KEY([loaiphongID])
REFERENCES [db_owner].[LoaiPhong] ([id])
GO
ALTER TABLE [dbo].[price] CHECK CONSTRAINT [FK_price_LoaiPhong]
GO
ALTER TABLE [dbo].[price]  WITH CHECK ADD  CONSTRAINT [FK_price_product] FOREIGN KEY([productID])
REFERENCES [dbo].[product] ([id])
GO
ALTER TABLE [dbo].[price] CHECK CONSTRAINT [FK_price_product]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FK_product_CatalogProduct] FOREIGN KEY([ParentID])
REFERENCES [dbo].[CatalogProduct] ([ID])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FK_product_CatalogProduct]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FK_product_CompanyAirlines] FOREIGN KEY([CompanyAirlineId])
REFERENCES [db_owner].[CompanyAirlines] ([Id])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FK_product_CompanyAirlines]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FK_product_ProductTypeGroup] FOREIGN KEY([ProductTypeGroupId])
REFERENCES [db_owner].[ProductTypeGroup] ([Id])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FK_product_ProductTypeGroup]
GO
ALTER TABLE [dbo].[product-des]  WITH CHECK ADD  CONSTRAINT [FK_tour-des_destination] FOREIGN KEY([destinationID])
REFERENCES [dbo].[destination] ([id])
GO
ALTER TABLE [dbo].[product-des] CHECK CONSTRAINT [FK_tour-des_destination]
GO
ALTER TABLE [dbo].[product-des]  WITH CHECK ADD  CONSTRAINT [FK_tour-des_tour] FOREIGN KEY([productID])
REFERENCES [dbo].[product] ([id])
GO
ALTER TABLE [dbo].[product-des] CHECK CONSTRAINT [FK_tour-des_tour]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK_user_organization] FOREIGN KEY([organizationID])
REFERENCES [dbo].[organization] ([id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_user_organization]
GO
